node_modules
frontend/node_modules
backend/node_modules
.git
.codebuddy
offline-packages/maxkb-images
offline-packages/compose-files
*.tar
*.tar.gz
docs
maxkb-runtime
backend/markitdown-service
backend/uploads
SmartDuctV3
SmartDuct
markitdown-main

*.log
docker-build.log
test-db-conn.sh
rebuild-backend.sh
maxkb-v2.8.0-x86_64-offline-installer
MaxKB-2.8.0
Normative
