<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSelectionHandler,log4net-net-1.0" />
	</configSections>
	<log4net>
		<logger name="log">
			<level value="ALL" />
			<appender-ref ref="LogFileAppender" />
		</logger>
		<logger name="Debuge">
			<level value="ALL" />
			<appender-ref ref="Debuge" />
		</logger>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<file value="Logs\" />
			<param name="StaticLogFileName" value="false" />
			<param name="DatePattern" value="&quot;Service_&quot;yyyyMMdd&quot;.log&quot;" />
			<param name="AppenderToFile" value="true" />
			<param name="Encoding" value="GB2312" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%n--------------------------------------%n时间：%d %n线程：[%t]%n文件：%F%n行号：%L%n具体信息：%m%n--------------------------------------%n" />
			</layout>
		</appender>
		<appender name="Debuge" type="log4net.Appender.RollingFileAppender,log4net">
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<file value="Logs\" />
			<param name="StaticLogFileName" value="false" />
			<param name="DatePattern" value="&quot;Debuge_&quot;yyyyMMdd&quot;.log&quot;" />
			<param name="AppenderToFile" value="true" />
			<param name="Encoding" value="GB2312" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%n--------------------------------------%n时间：%d %n线程：[%t]%n文件：%F%n行号：%L%n具体信息：%m%n--------------------------------------%n" />
			</layout>
		</appender>
	</log4net>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<authentication mode="Windows" />
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
	</system.web>
	<system.webServer>
		<directoryBrowse enabled="true"/>
	</system.webServer>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_Comm" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<security mode="None">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="LargeDataBehavior" name="Normative.Host.NormativeServices">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Comm"
				 contract="Normative.Services.Contracts.INormativeServices" />
			</service>
		</services>
		<behaviors>		
			<serviceBehaviors>
				<behavior name="LargeDataBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<connectionStrings>
		<add name="Resource" connectionString="Data Source=10.102.230.120;Initial Catalog=Normative;User Id=sa;Password=password01!;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>